# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# Zip backups
*.zip

# OS
.DS_Store
Thumbs.db
